<menubar></menubar>
<div class="container">
    <div>
        <h1 id="titulo">Pago</h1>
    </div>
    <img id="logoitem" src="https://1.bp.blogspot.com/-le75ftEBpYc/YVQQTYvaNRI/AAAAAAAATuo/AqUnZ_NDl1Ejoz4QvuuWovXnRd3c7_7nwCLcBGAsYHQ/s496/LOGO.PNG">
    <div class="data-container">
        <h2>Proceda a realizar el pago</h2>
        <p>Tus datos</p>
        <p>Película {{user.pelicula}}</p>
        <p>Sucursal {{user.sucursal}}</p>
        <p>Nombre {{user.nombre}}</p>
        <p>Cedula {{user.cedula}}</p>
        <p>Numero {{user.numero}}</p>
        <p>Sala {{user.salaid}}</p>
        <p>Asientos {{user.asientoid}}</p>

    </div>
</div>
