<mat-toolbar color="primary">
    <img class="logo-pop" src="../../../../assets/img/popcorn.png">
    <span>CineTEC Administradores</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/home/empleados">Empleados</button>
    <button mat-button routerLink="/home/sucursales">Sucursales</button>
    <button mat-button routerLink="/home/peliculas">Peliculas</button>
    <button mat-icon-button>
      <mat-icon routerLink="/home/inicio" >home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/login">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
